<div align="center">
    <marquee direction="down" width="500" height="100" behavior="alternate" style="border:solid">
        <marquee behavior="alternate">
            Developed With &#10084; From Berlin, {{var1}} {{var2}}.
        </marquee>
    </marquee>
</div>